/bookstore-jaxb.xml
/Dependencies.txt
/people.xml
/person.xml
/simplepeople.xml
/simplepeople2.xml
/ivy/
/lib/
/build 2.xml
/catalog.xml
/personAnnotationBean.xml
/personBean.xml
/personUI.xml
/personUI2.xml
/pom.xml
/people.json
